# Broadway Sales Research Modeling

### Import and join datasets

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

weather = pd.read_pickle('data/processed/weather.pkl')
grosses = pd.read_pickle('data/processed/grosses.pkl')

In [25]:
weather = weather.rename(columns={"Week Ending":"Date"})
weather.head(2)

,Date,temperature_2m_mean,temperature_2m_min,temperature_2m_max,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,precipitation_sum,precipitation_hours,daylight_duration,sunshine_duration,snowfall_sum,showers_sum,rain_sum
0,1996-03-24 04:00:00,3.571250,-1.6725,10.427501,6.503645,-6.534769,-0.805065,0.000000,0.0,44429.293000,40204.098000,0.000000,0.0,0.0
1,1996-03-31 04:00:00,3.867679,-4.5225,14.877501,12.330812,-8.964521,-0.075191,111.899993,23.0,45082.879857,34754.791714,109.199993,0.0,2.7

In [27]:
grosses.head(2)

,ShowID,Date,Attendance,% Capacity,# Previews,# Perf.,Gross ($),Month,Year,Adjusted Gross
0,&-juliet-534962,2024-05-26,7540,0.92,0,8,877626,5,2024,897398.313035
1,&-juliet-534962,2024-06-02,6824,0.83,0,8,775476,6,2024,792946.943458

In [29]:
# Make Date columns same type
grosses['Date'] = grosses['Date'].dt.date
weather['Date'] = weather['Date'].dt.date

In [37]:
# Merge DFs
df = pd.merge(grosses, weather, on='Date', how='inner')

In [39]:
df.head(2)

,ShowID,Date,Attendance,% Capacity,# Previews,# Perf.,Gross ($),Month,Year,Adjusted Gross,...,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,precipitation_sum,precipitation_hours,daylight_duration,sunshine_duration,snowfall_sum,showers_sum,rain_sum
0,&-juliet-534962,2024-05-26,7540,0.92,0,8,877626,5,2024,897398.313035,...,30.266544,9.479221,20.403003,3.200000,6.0,52938.827571,45936.191143,0.0,0.0,3.200000
1,&-juliet-534962,2024-06-02,6824,0.83,0,8,775476,6,2024,792946.943458,...,27.329185,9.981629,18.406672,49.200001,26.0,53531.232857,42437.518571,0.0,0.0,49.200001

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25991 entries, 0 to 25990
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ShowID                     25991 non-null  object
 1   Date                       25991 non-null  object
 2   Attendance                 25991 non-null  int64
 3   % Capacity                 25991 non-null  float64
 4   # Previews                 25991 non-null  int64
 5   # Perf.                    25991 non-null  int64
 6   Gross ($)                  25991 non-null  int64
 7   Month                      25991 non-null  int32
 8   Year                       25991 non-null  int32
 9   Adjusted Gross             25991 non-null  float64
 10  temperature_2m_mean        25991 non-null  float64
 11  temperature_2m_min         25991 non-null  float64
 12  temperature_2m_max         25991 non-null  float64
 13  apparent_temperature_max   25991 non-null  float64
 14  apparent_temperature_min   25991 non-null  float64
 15  apparent_temperature_mean  25991 non-null  float64
 16  precipitation_sum          25991 non-null  float64
 17  precipitation_hours        25991 non-null  float64
 18  daylight_duration          25991 non-null  float64
 19  sunshine_duration          25991 non-null  float64
 20  snowfall_sum               25991 non-null  float64
 21  showers_sum                25991 non-null  float64
 22  rain_sum                   25991 non-null  float64
dtypes: float64(15), int32(2), int64(4), object(2)
memory usage: 4.4+ MB

<ul>
    <li>
        Need to change Date column back to datetime format
    </li>
    <li>
        Need to engineer features to improve model performance:
        <ul><li>Create dummy variables for month</li>
            <li>Normalize/Standardize variables such as daylight duration or sunshine duration</li>
            <li>Remove redundant variables such as unadjusted gross to remove collinearity
    </li>

### Data Cleaning