# Broadway Sales Research Modeling

### Import and join datasets

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

weather = pd.read_pickle('data/processed/weather.pkl')
grosses = pd.read_pickle('data/processed/grosses.pkl')

In [25]:
weather = weather.rename(columns={"Week Ending":"Date"})
weather.head(2)

,Date,temperature_2m_mean,temperature_2m_min,temperature_2m_max,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,precipitation_sum,precipitation_hours,daylight_duration,sunshine_duration,snowfall_sum,showers_sum,rain_sum
0,1996-03-24 04:00:00,3.571250,-1.6725,10.427501,6.503645,-6.534769,-0.805065,0.000000,0.0,44429.293000,40204.098000,0.000000,0.0,0.0
1,1996-03-31 04:00:00,3.867679,-4.5225,14.877501,12.330812,-8.964521,-0.075191,111.899993,23.0,45082.879857,34754.791714,109.199993,0.0,2.7

In [27]:
grosses.head(2)

,ShowID,Date,Attendance,% Capacity,# Previews,# Perf.,Gross ($),Month,Year,Adjusted Gross
0,&-juliet-534962,2024-05-26,7540,0.92,0,8,877626,5,2024,897398.313035
1,&-juliet-534962,2024-06-02,6824,0.83,0,8,775476,6,2024,792946.943458

In [39]:
# FIXME: Merge DFs
df = grosses.merge(weather, how='left', on='Date')