# Daily Weather Data EDA and Initial Analysis

<b>Importing important packages, getting a view of data</b>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("daily_weather_data.csv")
df.head(10)

,date,temperature_2m_mean,temperature_2m_min,temperature_2m_max,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunset,sunrise,precipitation_sum,precipitation_hours,daylight_duration,sunshine_duration,snowfall_sum,rain_sum,wind_gusts_10m_max,wind_speed_10m_max,weather_code
0,2025-02-01 18:00:00+00:00,-16.358747,-24.865000,-4.315,-8.109735,-29.313883,-20.641008,0,0,0.000000,0,36561.870,32951.273,0.000000,0.0,21.960000,2.968636,0
1,2025-01-31 18:00:00+00:00,-13.198334,-19.715000,-7.715,-11.789309,-24.011051,-17.289139,0,0,1.500000,7,36427.730,31965.623,1.050000,0.0,20.880001,5.220000,73
2,2025-01-30 18:00:00+00:00,-12.139999,-12.964999,-11.315,-15.700456,-17.144306,-16.357079,0,0,9.099999,24,36295.810,0.000,6.370000,0.0,41.399998,8.161764,73
3,2025-01-29 18:00:00+00:00,-11.069167,-12.415000,-9.315,-13.592699,-16.258812,-15.016267,0,0,6.900000,24,36166.297,9807.753,4.830001,0.0,33.120000,6.287130,73
4,2025-01-28 18:00:00+00:00,-10.415000,-13.615000,-7.715,-11.776155,-17.368916,-14.186333,0,0,2.200000,14,36039.367,23790.768,1.540000,0.0,22.680000,5.043213,73
5,2025-01-27 18:00:00+00:00,-11.679584,-19.865000,-2.365,-6.063425,-24.336895,-15.752027,0,0,0.000000,0,35915.195,19649.994,0.000000,0.0,26.280000,3.931259,3
6,2025-01-26 18:00:00+00:00,-11.252500,-17.015001,-3.915,-7.806339,-21.249630,-15.372131,0,0,0.000000,0,35793.980,31573.176,0.000000,0.0,15.119999,2.052316,3
7,2025-01-25 18:00:00+00:00,-13.571251,-22.565000,-2.815,-6.949559,-27.157314,-18.073456,0,0,0.000000,0,35675.387,31724.127,0.000000,0.0,41.399998,7.538541,3
8,2025-01-24 18:00:00+00:00,-16.673336,-24.615000,-7.015,-12.049147,-29.670412,-21.719221,0,0,0.000000,0,35558.277,31694.068,0.000000,0.0,52.920000,8.863972,1
9,2025-01-23 18:00:00+00:00,-20.079586,-31.315000,-9.665,-14.376066,-36.093990,-24.687738,0,0,0.000000,0,35442.740,31494.945,0.000000,0.0,36.000000,5.840993,2

<b>Initial Observations:
<ul><li><u>Redundant Columns:</u> Can most likely remove some unnecessary fields to avoid redundancy and collinearity: sunset, sunrise, weather_code</li>
    </ul></b>